body {
  background-color: rgb(234, 234, 234) !important;
}

timepicker style
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}




.react-datepicker-wrapper {
  width: 100%;
}


/*home page styles*/

 .masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
     #649fcc,
     #fafa
  ) !important;
  height: 100vh;
} 

 .masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
} 

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}  */

 .masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
} 

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
} 

.footer.segment {
  padding: 5em 0;
}  

 .secondary.inverted.pointing.menu {
  border: none;
} 

/* end home page styles

/* navbar styles */



/* .ui.fixed.menu {
  background-image: linear-gradient(
          to bottom right,
           #649fcc,
           #fafa
  ) !important;
  
} */


/* image gallery  */

.ui.container.main > div > div > div{
  margin-bottom: 20px 
}

.ui.main.container,
.main.segment.center {
  /* margin: auto; */
  margin-top: 8em;
}

/* .ui.center.aligned.segment.attendance-preview {
  background-color: #fafa;
} */

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
  margin-left: 0.5em;
}

/*chat comments*/
.ui.comments .comment .comments {
  padding-bottom: 3em !important;
  padding-left: 4em !important;
}

#root > div.ui.container.main > div > div{
  margin-bottom: 1em;
}

/* dropzone styles */
.dropzone {
  border: dashed 3px #eee;
  padding-top: 30px;
  text-align: center;
  /* min-height: 236px; */
}

.dropzone--isActive {
  border: dashed 3px green;
}